
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
*{
  font-family: Saira,sans-serif;

}
@theme{
  --color-dark-100:#1a1a1a;
  --color-dark-200:#flflfl;
  --color-dark-300:#2d2d2d;
  --color-dark-400:#3d3d3d;
  --color-purple:#885CF6;
  --color-pink:#ff00ff;
  --color-blue:#93c5fd;
}
.typewriter{
  overflow: hidden;
  border-right: 0.15rem solid #8B5CF6;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(20,end) forwards,blink-caret 0.75s step-end;
}
@keyframes typing{
  from{width :0;}
  to {width:15ch}
}
@keyframes blink-caret{
  from,to {border-color:transparent}
  50%{border-color:#8B5CF6}
}